.slider {
  position: relative;

  .items {
    display: flex;
    @include respond-to('handhelds') {
      overflow: hidden;
    }
    @include respond-to('medium-screens') {
      overflow: hidden;
    }
    @include respond-to('extra-screens') {
      justify-content: space-evenly;
    }

    .item {
      width: 282px;
      margin: 0 24px 0 0;

      @include respond-to('handhelds') {
        min-width: 85%;
        width: auto;
        margin: 0 50px;
      }
      @include respond-to('medium-screens') {
        min-width: 85%;
        width: auto;
        margin: 0 50px;
      }

      .item__image {
        text-align: center;
      }
      .item__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        .item__title {
          font-weight: bold;
          text-transform: uppercase;
          line-height: 32px;
          font-size: 20px;
          margin: 40px 0 16px 0;
          text-align: center;
          @include respond-to('handhelds') {
            font-size: 32px;
          }
          @include respond-to('medium-screens') {
            font-size: 32px;
          }
        }
        .item__text {
          text-align: center;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          text-transform: uppercase;
          @include respond-to('handhelds') {
            line-height: 22px;
            font-size: 20px;
          }
          @include respond-to('medium-screens') {
            line-height: 22px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .controls {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    @include respond-to('handhelds') {
      display: block;
    }
    @include respond-to('medium-screens') {
      display: block;
    }

    .controls__left,
    .controls__right {
      position: absolute;
      background-color: lightgrey;
      width: 52px;
      height: 52px;
      top: 50%;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 32px;
    }
    .controls__left {
      content: '<';
      left: 0;
    }

    .controls__right {
      content: '>';
      right: 0;
    }
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}