@font-face {
  font-family: 'NissanBrand';
  src: url('../fonts/NissanBrand-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NissanBrand';
  src: url('../fonts/NissanBrand-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NissanBrand';
  src: url('../fonts/NissanBrand-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
